@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(270deg, #74797e, #d4254e, #2eb8df);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
}

header {
    text-align: center; 
    font-family: "Poppins", sans-serif; 
    font-size: 2rem;
    font-weight: bold; 
    color: #ffffff; 
    padding: 20px 0; 
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 20px;
}

@keyframes backgroundChange {
    0% {
        background-color: #b340ff; 
    }
    50% {
        background-color: #c3e95b; 
    }
    100% {
        background-color: #2affed; 
    }
}

.section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 33%;
    min-width: 250px;
    display: inline-block;
    margin: auto;
    animation: backgroundChange 10s ease infinite; 
}

/* Button Styles */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
    cursor: pointer;
}

/* About Page Layout */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #f4f4f4;
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.about-text {
    flex: 1;
    text-align: left;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background: #6df3f8;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 5px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007BFF;
}

h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

div.intro p, div.experience p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #c3e95b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

